/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

header
{
  background-color: #1a1a1a;
  -webkit-text-stroke: 1px #1d1a1a;
}

body {
  background-image: linear-gradient(to top left, #2c3e50, #000000);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  min-width: 480px;
  color: #ecf0f1;
}

h1 {
  padding-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

.main-content {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
}

.slide-in {
  transform: translateY(100%);
  animation: slideInY 1s ease forwards;
}

@keyframes slideInY {
  to {
    transform: translateY(0);
  }
}
