a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.custom-navbar {
    color: #ffffff !important;
    font-weight: bold;       
    font-size: 1.1rem;      
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.logo {
    width: 60px;
    height: 60px;
    transform: rotateY(0);
    transition: transform 2s ease;
}

.logo:hover {
    transform: rotateY(360deg);
}
